<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/start">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΑΣΚΗΣΕΙΣ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#exercises">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="center row">
      <div class="menu-button col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <a [routerLink]="['/test','addition']">
          <img src="../../../assets/plus.png" class="img-responsive">
          <p class="menu-title">ΠΡΟΣΘΕΣΗ</p>
        </a>
      </div>
      <div class="menu-button col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <a [routerLink]="['/test','substraction']">
          <img src="../../../assets/minus.png" class="img-responsive">
          <p class="menu-title">ΑΦΑΙΡΕΣΗ</p>
        </a>
      </div>
      <div class="menu-button col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <a [routerLink]="['/test','multiplication']">
          <img src="../../../assets/multiplication.png" class="img-responsive">
          <p class="menu-title">ΠΟΛΛΑΠΛΑΣΙΑΣΜΟΣ</p>
        </a>
      </div>
      <div class="menu-button col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <a [routerLink]="['/test','division']">
          <img src="../../../assets/division.png" class="img-responsive">
          <p class="menu-title">ΔΙΑΙΡΕΣΗ</p>
        </a>
      </div>
    </div>
    <div class="row center " *ngIf="!(user_id=='admin')">
      <div class="menu-button general">
        <a [routerLink]="['/test','general']">
          <img src="../../../assets/all.png" class="img-general">
          <p class="menu-title">ΓΕΝΙΚΟ ΤΕΣΤ</p>
        </a>
      </div>
    </div>
  </div>

</div>
