.help-img {
    height: 170px;
    width: 200px;
    position: relative;
    left: 50%;
}

a {
    font-family: Confortaa;
}

a:hover {
    color: #00b3b3 !important;
    cursor: pointer;
}

p,
div,
span {
    font-family: Confortaa
}