<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΒΟΗΘΕΙΑ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">

      </div>
    </div>
  </div>

  <div class="container-fluid center">
    <div id="contents" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΠΕΡΙΕΧΟΜΕΝΑ</h2>
      <ul>
        <li><a href="/help#menu">MENU</a></li>
        <li><a href="/help#theory">ΘΕΩΡΙΑ</a></li>
        <li><a href="/help#theory-example">ΠΑΡΑΔΕΙΓΜΑ ΘΕΩΡΙΑΣ</a></li>
        <li><a href="/help#exercises">ΑΣΚΗΣΕΙΣ</a></li>
        <li><a href="/help#exercises-example">ΠΑΡΑΔΕΙΓΜΑ ΑΣΚΗΣΕΩΝ</a></li>
        <li><a href="/help#wall">ΤΟΙΧΟΣ</a></li>
        <li><a href="/help#me">ΠΡΟΦΙΛ</a></li>
        <li><a href="/help#statistics">  ΣΤΑΤΙΣΤΙΚΑ</a></li>
        <li><a href="/help#search">ΑΝΑΖΗΤΗΣΗ</a></li>
        <li><a href="/help#connect">ΕΙΣΟΔΟΣ/ΕΓΓΡΑΦΗ</a></li>
        <li><a href="/help#logout">ΑΠΟΣΥΝΔΕΣΗ</a></li>
      </ul>

      <hr>
    </div>
    <div id="menu" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">MENU</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <img src="../../../assets/students/menu.png" class="img-responsive">
        <span>Εδώ βρίσκονται οι επιλογές που έχει ένας μαθητής. Πατώντας πάνω σε κάποιο εικονίδιο, πηγαίνεις στο ανάλογο σημείο της σελίδας. Οι επιλογές που έχει είναι:
          <ul>
            <li><a href="/help#theory">ΘΕΩΡΙΑ</a></li>
            <li><a href="/help#exercises">ΑΣΚΗΣΕΙΣ</a></li>
            <li><a href="/help#wall">ΤΟΙΧΟΣ</a></li>
            <li><a href="/help#me">ΠΡΟΦΙΛ</a></li>
            <li><a href="/help#search">ΑΝΑΖΗΤΗΣΗ</a></li>
            <li><a href="/help#logout">ΑΠΟΣΥΝΔΕΣΗ</a></li>
          </ul>
        </span>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">

        <img src="../../../assets/admin/menu.png" class="img-responsive">
        <span>Εδώ βρίσκονται οι επιλογές που έχει ένας καθηγητής. Πατώντας πάνω σε κάποιο εικονίδιο, πηγαίνεις στο ανάλογο σημείο της σελίδας. Οι επιλογές που έχει είναι:
          <ul>
            <li><a href="/help#theory">ΘΕΩΡΙΑ</a></li>
            <li><a href="/help#exercises">ΑΣΚΗΣΕΙΣ</a></li>
            <li><a href="/help#wall">ΤΟΙΧΟΣ</a></li>
            <li><a href="/help#statistics">ΣΤΑΤΙΣΤΙΚΑ</a></li>
            <li><a href="/help#search">ΑΝΑΖΗΤΗΣΗ</a></li>
            <li><a href="/help#logout">ΑΠΟΣΥΝΔΕΣΗ</a></li>
          </ul>
        </span>
        <hr>

      </div>
      <div *ngIf="!user_id" class="row center">
        <img src="../../../assets/menu_visitor.png" class="img-responsive">
        <span>Εδώ βρίσκονται οι επιλογές που έχει ένας επισκέπτης. Πατώντας πάνω σε κάποιο εικονίδιο, πηγαίνεις στο ανάλογο σημείο της σελίδας. Οι επιλογές που έχει είναι:
          <ul>
            <li><a href="/help#theory">ΘΕΩΡΙΑ</a></li>
            <li><a href="/help#search">ΑΝΑΖΗΤΗΣΗ</a></li>
            <li><a href="/help#connect">ΕΙΣΟΔΟΣ/ΕΓΓΡΑΦΗ</a></li>
          </ul>
        </span>
        <hr>
      </div>
    </div>
    <div id="theory" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΘΕΩΡΙΑ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <img src="../../../assets/students/theory.png" class="img-responsive">
        <span>
          Σε αυτό το σημείο, ο μαθητής επιλέγει το κεφάλαιο μαθηματικών που θα ήθελε να διαβάσει. Επιλέγοντας μία από τις κατηγορίες
          πρόσθεση, αφαίρεση, πολλαπλασιασμό και διαίρεση, πηγαίνει στη ανάλογη σελίδα θεωρίας.
        </span>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <img src="../../../assets/students/theory.png" class="img-responsive">
        <span>
          Σε αυτό το σημείο, ο καθηγητής επιλέγει το κεφάλαιο μαθηματικών που θα ήθελε να τροποποιήσει. Επιλέγοντας μία από τις κατηγορίες
          πρόσθεση, αφαίρεση, πολλαπλασιασμό και διαίρεση, πηγαίνει στη ανάλογη σελίδα θεωρίας.
        </span>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="!user_id" class="row center">
        <img src="../../../assets/students/theory.png" class="img-responsive">
        <span>
          Σε αυτό το σημείο, ο επισκέπτης επιλέγει το κεφάλαιο μαθηματικών που θα ήθελε να διαβάσει. Επιλέγοντας μία από τις κατηγορίες
          πρόσθεση, αφαίρεση, πολλαπλασιασμό και διαίρεση, πηγαίνει στη ανάλογη σελίδα θεωρίας.
        </span>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
    </div>
    <div id="theory-example" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΠΑΡΑΔΕΙΓΜΑ ΘΕΩΡΙΑΣ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <img src="../../../assets/students/addition.png" class="img-responsive">
        <p>Εδώ βρίσκονται τα κομμάτια που αφορούν το επιλεγμένο κεφάλαιο της θεωρίας. Ο μαθητής έχει το δικαίωμα να δηλώσει
          ότι κατάλαβε ή δεν κατάλαβε το συγκεκριμένο κεφάλαιο, για μία φορά. Επίσης, φαίνονται συνολικά τα "Κατάλαβα" και
          τα "Δεν κατάλαβα" που έχουν εκφραστεί από όλους τους μαθητές. Ο μαθητής δεν έχει παρά να επιλέξει ένα από τα παρακάτω
          εικονίδια, για να εκφράσει την κατανόηση ή μη του συγκεκριμένου κεφαλαίου της ύλης.
        </p>
        <img src="../../../assets/students/reaction_buttons.png" class="img-responsive">
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <img src="../../../assets/admin/addition.png" class="img-responsive">
        <p>
          Εδώ βρίσκονται τα κομμάτια που αφορούν το επιλεγμένο κεφάλαιο της θεωρίας. Ο καθηγητής έχει το δικαίωμα να τροποποιήσει
          <img src="../../../assets/admin/edit.png"> ή να διαγράψει <img src="../../../assets/admin/delete.png"> κάποιο κομμάτι
          της ύλης. Επίσης, φαίνονται συνολικά τα "Κατάλαβα" και τα "Δεν κατάλαβα" που έχουν εκφραστεί από όλους τους μαθητές,
          χωρίς βέβαια να του δίνεται η δυνατότητα να συμμετέχει.
        </p>
        <p>
          Επίσης, ο καθηγητής έχει τη δυνατότητα να προσθέσει ένα καινούριο κομμάτι στην ύλη, πατώντας το <img src="../../../assets/admin/add_theory.png">          . Αυτό τον στέλνει στην φόρμα όπου προσθέτει το καινούριο κομμάτι της ύλης, όπως φαίνεται στην επόμενη εικόνα:
        </p>
        <img src="../../../assets/admin/add-form.png" class="img-responsive">
        <p> Όπως φαίνεται στο γκρι πάνω από την φόρμα προσθήκης θεωρίας, ο καθηγητής για λόγους πρακτικότητας και λειτουργικότητας
          θα πρέπει να εισάγει το συμβολισμό
          < br> (χωρίς κενά) αν θέλει να αλλάξει γραμμή.
        </p>
        <p> Κατά τον ίδιο τρόπο γίνεται και η τροποποίηση του επιλεγμένου κομματιού της θεωρίας, όπως φαίνεται παρακάτω:
        </p>
        <img src="../../../assets/admin/edit-form.png" class="img-responsive">

        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="!user_id" class="row center">
        <img src="../../../assets/theory_visitor.png" class="img-responsive">
        <p>Εδώ βρίσκονται τα κομμάτια που αφορούν το επιλεγμένο κεφάλαιο της θεωρίας. Σ' αυτό φαίνεται η θεωρία. Ο επισκέπτης
          δεν έχει κανένα δικαίωμα για τροποποίηση/διαγραφή/προσθήκη ή αλληλεπίδραση με κάποιο κομμάτι της θεωρίας.
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
    </div>
    <div id="exercises" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΑΣΚΗΣΕΙΣ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <img src="../../../assets/students/exercises.png" class="img-responsive">
        <p> Εδώ, ο μαθητής επιλέγει να κάνει ασκήσεις με περιεχόμενο το κεφάλαιο της πρόσθεσης ή της αφαίρεσης ή του πολλαπλασιασμού
          ή της διαίρεσης. Επίσης μπορεί να κάνει και το γενικό τεστ, το οποίο περιλαμβάνει ερωτήσεις (max 20) εφ' όλης της
          ύλης.
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <img src="../../../assets/admin/exercises.png" class="img-responsive">
        <p> Εδώ, ο καθηγητής επιλέγει να δει, να τροποποιήσει ή να διαγράψει ασκήσεις με περιεχόμενο το κεφάλαιο της πρόσθεσης
          ή της αφαίρεσης ή του πολλαπλασιασμού ή της διαίρεσης.
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="!user_id" class="row center">
        <p style="color:crimson;"> Ο επισκέπτης δεν έχει τη δυνατότητα να κάνει ασκήσεις.
          <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>
    </div>
    <div *ngIf="user_id" id="exercises-example" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΠΑΡΑΔΕΙΓΜΑ ΑΣΚΗΣΕΩΝ</h2>
      <div *ngIf="user_id!='admin'" class="row center">
        <p>
          Εδώ, ο μαθητής επιλέγει κατηγορία άσκησης, εύκολη ή δύσκολη, πατώντας κάποιο από τα αντίστοιχα κουμπιά:
          <img src="../../../assets/students/easy_difficult.png"><br>Παρακάτω ακολουθούν παραδείγματα και για τις δύο κατηγορίες.
        </p>
        <h3>ΕΥΚΟΛΑ</h3>
        <p> <img src="../../../assets/students/ex_easy_1.png" class="img-responsive"></p>
        <h3>ΔΥΣΚΟΛΑ</h3>
        <p> <img src="../../../assets/students/ex_difficult.png" class="img-responsive"></p>
        <p>
          Όπως φαίνεται, στην εύκολη κατηγορία ασκήσεων ο μαθητής πρέπει να συμπληρώσει το αποτέλεσμα, ενώ στην δύσκολη κατηγορία,
          πρέπει να συμπληρώσει κάποιον τελεστή.
        </p>
        <p>
          Στη συνέχεια, καταχωρεί το αποτέλεσμα που έχει βρει, και του παρουσιάζεται διαγνωστικό μήνυμα που αφορά την απάντησή του.
          Στην συνέχεια πατάει το κουμπί που λέει επόμενο, και προχωράει στην επόμενη ερώτηση(max 10 ερωτήσεις).
          <br>
          <img src="../../../assets/students/ex_message.png" class="img-responsive">
        </p>
        <p>
          Όταν συμπληρώσει όλες τις ερωτήσεις του τεστ, του γίνεται μια περίληψη των απαντήσεών του. Αν σε κάποια απάντηση έχει γίνει
          διάγνωση "αδιάβαστος/η", τότε του δίνεται link με το κομμάτι της θεωρίας που πρέπει να διαβάσει.
          <img src="../../../assets/students/ex_results.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>

      <div *ngIf="user_id=='admin'" class="row center">
        <p>
          Εδώ ο καθηγητής μπορεί να διαγράψει μία υπάρχουσα άσκηση ή να προσθέσει μία καινούρια, ανάλογα με την κατηγορία ασκήσεων
          που έχει επιλεχθεί.
          <br>
          <img src="../../../assets/admin/exercisesexample.png" class="img-responsive">
          <br> Πατώντας το εικονίδιο <img src="../../../assets/admin/delete.png">, μπορεί να διαγράψει την επιλεγμένη άσκηση,
          ενώ πατώντας το κουμπί
          <img src="../../../assets/admin/addex.png"> μπορεί να προσθέσει μία καινούρια άσκηση. Για την προσθήκη της καινούριας
          άσκησης οδηγείται στην επόμενη φόρμα,
          <img src="../../../assets/admin/addexform.png" class="img-responsive"> <br>, την οποία και συμπληρώνει και στο
          τέλος στέλνει για να αποθηκευτεί η άσκηση στην βάση.
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
    </div>
    <div id="wall" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΤΟΙΧΟΣ</h2>
      <div *ngIf="user_id" class="row center">
        <img src="../../../assets/students/wall.png" class="img-responsive">
        <br>
        <p>
          Ο τοίχος είναι ένα μέρος το οποίο οι μαθητές μοιράζονται ότι θέλουν με τους υπόλοιπους συμμαθητές τους αλλά και με τον καθηγητή.
          <br> Το μόνο που έχει να κάνει ο χρήστης (μαθητής ή καθηγητής) είναι να γράψει το μήνυμα που θέλει να αφήσει στην
          φόρμα προσθήκης καινούριου post, και να πατήσει το κουμπί για να το στείλει. Αμέσως, θα εμφανιστεί στον τοίχο το
          μήνυμά του και θα είναι ορατό από όλα τα μέλη της σελίδας.
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>

      <div *ngIf="!user_id" class="row center">
        <p style="color:crimson;">Οι επισκέπτες δεν έχουν πρόσβαση στον τοίχο του μαθήματος.</p>
        <br>
        <img src="../../../assets/students/wall.png" class="img-responsive">
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>
    </div>
    <div id="me" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΠΡΟΦΙΛ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <img src="../../../assets/students/prof_info.png" class="img-responsive">
        <p>
          Οι μαθητές διαθέτουν το δικό τους προφίλ στο οποίο όπως φαίνεται στην παραπάνω εικόνα φαίνονται οι βασικές πληροφορίες τους,
          όπως το ψευδώνυμο, το email, το ονοματεπώνυμο και η ημερομηνία εγγραφής τους.
        </p>
        <p>
          Επίσης, στο προφίλ του κάθε μαθητή, βρίσκονται τα στατιστικά από τις ασκήσεις στις οποίες έχει απαντήσει, όπως φαίνεται στην
          παρακάτω εικόνα:

        </p>
        <img src="../../../assets/students/prof_statistics.png" class="img-responsive">
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <p style="color:crimson;">Οι καθηγητές/διαχειριστές δεν έχουν προφίλ.</p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>
      <div *ngIf="!user_id" class="row center">
        <p style="color:crimson;">Οι επισκέπτες δεν έχουν προφίλ.</p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>
    </div>

    <div id="search" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΑΝΑΖΗΤΗΣΗ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <p>Παρακάτω ακολουθεί η φόρμα αναζήτησης. Αρχικά, ο μαθητής μπορεί να κάνει απευθείας αναζήτηση πληκτρολογώντας ένα
          όνομα ή γράμματα, και έπειτα πατώντας το κουμπί με την αναζήτηση. Τα αποτελέσματα θα εμφανισθούν από κάτω. Αν ο
          μαθητής δεν εισάγει κάποιο γράμμα, τότε με την αναζήτηση του εμφανίζονται όλοι οι χρήστες.
        </p>
        <p>
          Στην περίπτωση που θέλει να φιλτράρει τα αποτελέσματα ως προς το φύλο, δηλαδή να εμφανίσει μόνο τα αγόρια ή μόνο τα κορίτσια,
          τότε πρέπει να πατήσει στο <img src="../../../assets/students/search_arrow.png"> για να του εμφανισθεί
          η φόρμα. Έπειτα, εισάγει τον όρο της αναζήτησης και πατάει το κουμπί της αναζήτησης που αντιστοιχεί στη φόρμα,
          όπως φαίνεται παρακάτω:
          <br>

          <img src="../../../assets/students/search.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <p>Παρακάτω ακολουθεί η φόρμα αναζήτησης. Αρχικά, ο καθηγητής μπορεί να κάνει απευθείας αναζήτηση πληκτρολογώντας ένα
          όνομα ή γράμματα, και έπειτα πατώντας το κουμπί με την αναζήτηση. Τα αποτελέσματα θα εμφανισθούν από κάτω. Αν ο
          μαθητής δεν εισάγει κάποιο γράμμα, τότε με την αναζήτηση του εμφανίζονται όλοι οι χρήστες.
        </p>
        <p>
          Στην περίπτωση που θέλει να φιλτράρει τα αποτελέσματα ως προς το φύλο, δηλαδή να εμφανίσει μόνο τα αγόρια ή μόνο τα κορίτσια,
          τότε πρέπει να πατήσει στο <img src="../../../assets/students/search_arrow.png"> για να του εμφανισθεί
          η φόρμα. Έπειτα, εισάγει τον όρο της αναζήτησης και πατάει το κουμπί της αναζήτησης που αντιστοιχεί στη φόρμα,
          όπως φαίνεται παρακάτω:
          <br>

          <img src="../../../assets/students/search.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>

      </div>
      <div *ngIf="!user_id" class="row center">
        <p>Παρακάτω ακολουθεί η φόρμα αναζήτησης. Αρχικά, ο επισκέπτης μπορεί να κάνει απευθείας αναζήτηση πληκτρολογώντας ένα
          όνομα ή γράμματα, και έπειτα πατώντας το κουμπί με την αναζήτηση. Τα αποτελέσματα θα εμφανισθούν από κάτω. Αν ο
          μαθητής δεν εισάγει κάποιο γράμμα, τότε με την αναζήτηση του εμφανίζονται όλοι οι χρήστες.
        </p>
        <p>
          Στην περίπτωση που θέλει να φιλτράρει τα αποτελέσματα ως προς το φύλο, δηλαδή να εμφανίσει μόνο τα αγόρια ή μόνο τα κορίτσια,
          τότε πρέπει να πατήσει στο <img src="../../../assets/students/search_arrow.png"> για να του εμφανισθεί
          η φόρμα. Έπειτα, εισάγει τον όρο της αναζήτησης και πατάει το κουμπί της αναζήτησης που αντιστοιχεί στη φόρμα,
          όπως φαίνεται παρακάτω:
          <br>

          <img src="../../../assets/students/search.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
    </div>
    <div id="connect" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΣΥΝΔΕΣΗ/ΕΓΓΡΑΦΗ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <h3>ΕΙΣΟΔΟΣ</h3>
        <p>
          Ένας χρήστης, μπορεί να εισέλθει στη σελίδα είτε ως επισκέπτης είτε ως εγγεγραμένος χρήστης. Στην περίπτωση που έχει ήδη
          εγγραφεί, τότε στην παρακάτω φόρμα εισάγει τα στοιχεία του και πατάει το κουμπί για την είσοδο (login). Εαν δεν
          έχει εγγραφεί, μπορεί να εισέλθει ως επισκέπτης, με τις περιορισμένες δυνατότητες που του διατίθενται, πατώντας
          το κουμπί που λέει "ΕΙΣΟΔΟΣ ΣΑΝ ΕΠΙΣΚΕΠΤΗΣ."
          <br>
          <img src="../../../assets/students/login.png" class="img-responsive">
        </p>
        <hr>
        <h3>ΕΓΓΡΑΦΗ</h3>
        <p>
          Αν ένας επισκέπτης θέλει να κάνει εγγρραφή, μπορεί να πατήσει το κουμπί register και θα οδηγηθει στην φόρμα εγγραφής χρήστη
          όπου εισάγει τα στοιχεία του και έπειτα πατώντας το κουμπί εγγράφεται και ανακατευθύνεται αυτόματα στο menu. Η
          φόρμα είναι η ακόλουθη:
          <br>
          <img src="../../../assets/students/register.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        Ο διαχειριστής μπορεί να εισάγει τα στοιχεία της εισόδου του στη φόρμα εγγραφής:
        <br>
        <img src="../../../assets/students/login.png" class="img-responsive">
        <br>
        <p style="color:crimson;">Δεν διατίθεται εγγραφή για τους διαχειριστές/καθηγητές.</p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>
      <div *ngIf="!user_id" class="row center">
        <h3>ΕΙΣΟΔΟΣ</h3>
        <p>
          Ένας χρήστης, μπορεί να εισέλθει στη σελίδα είτε ως επισκέπτης είτε ως εγγεγραμένος χρήστης. Στην περίπτωση που έχει ήδη
          εγγραφεί, τότε στην παρακάτω φόρμα εισάγει τα στοιχεία του και πατάει το κουμπί για την είσοδο (login). Εαν δεν
          έχει εγγραφεί, μπορεί να εισέλθει ως επισκέπτης, με τις περιορισμένες δυνατότητες που του διατίθενται, πατώντας
          το κουμπί που λέει "ΕΙΣΟΔΟΣ ΣΑΝ ΕΠΙΣΚΕΠΤΗΣ."
          <br>
          <img src="../../../assets/students/login.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
        <h3>ΕΓΓΡΑΦΗ</h3>
        <p>
          Αν ένας επισκέπτης θέλει να κάνει εγγρραφή, μπορεί να πατήσει το κουμπί register και θα οδηγηθει στην φόρμα εγγραφής χρήστη
          όπου εισάγει τα στοιχεία του και έπειτα πατώντας το κουμπί εγγράφεται και ανακατευθύνεται αυτόματα στο menu. Η
          φόρμα είναι η ακόλουθη:
          <br>
          <img src="../../../assets/students/register.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
    </div>
    <div id="statistics" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΣΤΑΤΙΣΤΙΚΑ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <p style="color:crimson;">Δεν διατίθεται αυτή η λειτουργία για τους μαθητές.</p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <p>
          Ο καθηγητής μπορεί να δει στατιστικά από τις απαντήσεις όλων των χρηστών. Επίσης, μπορεί να επιλέξει να δει τα στατιστικά
          μόνο των κοριτσιών ή μόνο των αγοριών, επιλέγοντας το ανάλογο φίλτρο.
          <br>
          <img src="../../../assets/admin/statistics.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>
      <div *ngIf="!user_id" class="row center">
        <p style="color:crimson;">Δεν διατίθεται αυτή η λειτουργία για τους επισκέπτες.</p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>

    </div>
    <div id="logout" class="row">
      <h2 style="border:solid white 1.5px; background-color:crimson; color:white; padding:5px;">ΑΠΟΣΥΝΔΕΣΗ</h2>
      <div *ngIf="user_id&&user_id!='admin'" class="row center">
        <p>
          Αν ο μαθητής έχει κάνει είσοδο στην σελίδα, μπορεί επιλέγοντας στο menu το κουμπί logout, να αποσυνδεθεί, όπου ενημερώνεται
          με αντίστροφη μέτρηση για την επιλογή του αυτή.
          <br>
          <img src="../../../assets/students/logout.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="user_id=='admin'" class="row center">
        <p>
          Αν ο διαχειριστής/καθηγητής έχει κάνει είσοδο στην σελίδα, μπορεί επιλέγοντας στο menu το κουμπί logout, να αποσυνδεθεί,
          όπου ενημερώνεται με αντίστροφη μέτρηση για την επιλογή του αυτή.
          <br>
          <img src="../../../assets/students/logout.png" class="img-responsive">
        </p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
        <hr>
      </div>
      <div *ngIf="!user_id" class="row center">
        <p style="color:crimson;">Δεν διατίθεται αποσύνδεση για τους επισκέπτες, εφόσον δεν έχει γίνει είσοδος.</p>
        <p><a href="/help#contents">Επιστροφή στην αρχή</a></p>
      </div>



    </div>

  </div>
