<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/start">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΣΤΑΤΙΣΤΙΚΑ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#statistics">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <label>Φίλτρο</label>
      <select [(ngModel)]="filter" name="filter" class="form-control">
          <option id="0" name="0" [value]="0" selected>Όλοι οι μαθητές</option>
          <option id="1" name="1" [value]="1">Κορίτσια</option>
          <option id="2" name="2" [value]="2">Αγόρια</option>
      </select>
    </div>
  </div>

  <div class="row center" *ngIf="filter=='0'">
    <h3>ΟΛΟΙ ΟΙ ΜΑΘΗΤΕΣ</h3>
    <hr>
    <table class="center">
      <tr>
        <td>

        </td>
        <td>
          <h3>ΣΩΣΤΕΣ</h3>
        </td>
        <td>
          <h3> ΛΑΘΟΣ</h3>
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.general_questions_answered}} ΕΡΩΤΗΣΕΙΣ </h3>
        </td>
        <td>
          {{stats.general_answered_right}}
        </td>
        <td>
          {{stats.general_questions_answered - stats.general_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.addition_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΡΟΣΘΕΣΗΣ </h3>
        </td>
        <td>
          {{stats.addition_answered_right}}
        </td>
        <td>
          {{stats.addition_questions_answered - stats.addition_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.substraction_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΑΦΑΙΡΕΣΗΣ </h3>
        </td>
        <td>
          {{stats.substraction_answered_right}}
        </td>
        <td>
          {{stats.substraction_questions_answered - stats.substraction_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.multiplication_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΟΛΛΑΠΛΑΣΙΑΣΜΟΥ </h3>
        </td>
        <td>
          {{stats.multiplication_answered_right}}
        </td>
        <td>
          {{stats.multiplication_questions_answered - stats.multiplication_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.division_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΔΙΑΙΡΕΣΗΣ </h3>
        </td>
        <td>
          {{stats.division_answered_right}}
        </td>
        <td>
          {{stats.division_questions_answered - stats.division_answered_right}}
        </td>
      </tr>

    </table>

  </div>
  <div class="row center" *ngIf="filter=='1'">
    <h3>ΚΟΡΙΤΣΙΑ</h3>
    <hr>
    <table class="center">
      <tr>
        <td>

        </td>
        <td>
          <h3>ΣΩΣΤΕΣ</h3>
        </td>
        <td>
          <h3> ΛΑΘΟΣ</h3>
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsg.general_questions_answered}} ΕΡΩΤΗΣΕΙΣ </h3>
        </td>
        <td>
          {{statsg.general_answered_right}}
        </td>
        <td>
          {{statsg.general_questions_answered - statsg.general_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsg.addition_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΡΟΣΘΕΣΗΣ </h3>
        </td>
        <td>
          {{statsg.addition_answered_right}}
        </td>
        <td>
          {{statsg.addition_questions_answered - statsg.addition_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsg.substraction_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΑΦΑΙΡΕΣΗΣ </h3>
        </td>
        <td>
          {{statsg.substraction_answered_right}}
        </td>
        <td>
          {{statsg.substraction_questions_answered - statsg.substraction_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsg.multiplication_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΟΛΛΑΠΛΑΣΙΑΣΜΟΥ </h3>
        </td>
        <td>
          {{statsg.multiplication_answered_right}}
        </td>
        <td>
          {{statsg.multiplication_questions_answered - statsg.multiplication_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsg.division_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΔΙΑΙΡΕΣΗΣ </h3>
        </td>
        <td>
          {{statsg.division_answered_right}}
        </td>
        <td>
          {{statsg.division_questions_answered - statsg.division_answered_right}}
        </td>
      </tr>

    </table>
  </div>
  <div class="row center" *ngIf="filter=='2'">
    <h3>ΑΓΟΡΙΑ</h3>
    <hr>
    <table class="center">
      <tr>
        <td>

        </td>
        <td>
          <h3>ΣΩΣΤΕΣ</h3>
        </td>
        <td>
          <h3> ΛΑΘΟΣ</h3>
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsb.general_questions_answered}} ΕΡΩΤΗΣΕΙΣ </h3>
        </td>
        <td>
          {{statsb.general_answered_right}}
        </td>
        <td>
          {{statsb.general_questions_answered - statsb.general_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsb.addition_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΡΟΣΘΕΣΗΣ </h3>
        </td>
        <td>
          {{statsb.addition_answered_right}}
        </td>
        <td>
          {{statsb.addition_questions_answered - statsb.addition_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsb.substraction_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΑΦΑΙΡΕΣΗΣ </h3>
        </td>
        <td>
          {{statsb.substraction_answered_right}}
        </td>
        <td>
          {{statsb.substraction_questions_answered - statsb.substraction_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsb.multiplication_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΟΛΛΑΠΛΑΣΙΑΣΜΟΥ </h3>
        </td>
        <td>
          {{statsb.multiplication_answered_right}}
        </td>
        <td>
          {{statsb.multiplication_questions_answered - statsb.multiplication_answered_right}}
        </td>
      </tr>
      <tr>
        <td>
          <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{statsb.division_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΔΙΑΙΡΕΣΗΣ </h3>
        </td>
        <td>
          {{statsb.division_answered_right}}
        </td>
        <td>
          {{statsb.division_questions_answered - statsb.division_answered_right}}
        </td>
      </tr>

    </table>
  </div>


</div>
