<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a routerLink="/home" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a routerLink="/register" class="active" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form [formGroup]="slideOneForm" id="register-form" method="post" role="form" style="display: block;">

                <div class="error-message" *ngIf="!success">
                  {{message}}
                </div>
                <div class="form-group" style="font-family:Confortaa">
                  <br> Αγόρι <input type="radio" formControlName="gender" [checked]="true" [(ngModel)]="gender" name="gender"
                    required [value]="0"> Κορίτσι
                  <input type="radio" name="gender" formControlName="gender" [(ngModel)]="gender" [value]="1" required>
                </div>
                <div class="form-group">

                  <input class="form-control" placeholder="First Name" [(ngModel)]="firstname" formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"
                  />
                </div>

                <div *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
                  <p>Please enter a valid name.</p>
                </div>

                <div class="form-group">

                  <input class="form-control" placeholder="Last Name" [(ngModel)]="lastname" formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)"
                  />
                </div>

                <div *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
                  <p>Please enter a valid name.</p>
                </div>

                <div class="form-group">

                  <input class="form-control" placeholder="Username" [(ngModel)]="username" [class.invalid]="!slideOneForm.controls.username.valid && (slideOneForm.controls.username.dirty || submitAttempt)"
                    formControlName="username" type="text" />
                </div>

                <div class="form-group">

                  <input class="form-control" placeholder="Email" [(ngModel)]="email" [class.invalid]="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)"
                    formControlName="email" type="text" />
                </div>

                <div class="form-group">

                  <input class="form-control" placeholder="Password" [(ngModel)]="password" [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)"
                    formControlName="password" type="password" />
                </div>

                <div class="form-group">

                  <input class="form-control" placeholder="Confirm Password" [(ngModel)]="repassword" [class.invalid]="!slideOneForm.controls.repassword.valid && (slideOneForm.controls.repassword.dirty || submitAttempt)"
                    formControlName="repassword" type="password" />
                </div>
                <span *ngIf="slideOneForm.controls.username.valid&&slideOneForm.controls.email.valid&&slideOneForm.controls.firstName.valid&&slideOneForm.controls.lastName.valid&&slideOneForm.controls.password.valid&&slideOneForm.controls.repassword.valid&&!slideOneForm.valid"
                  class="help-block text-danger">
                    <div>
                        The two passwords aren't the same
                    </div>
                </span>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input (click)="save()" [disabled]="!slideOneForm.valid" type="submit" name="register-submit" id="register-submit" tabindex="4"
                        class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
