<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/start">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΠΡΟΦΙΛ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#me">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid center">
    <div class="container">
      <div class="container username">
        <h2>ΠΛΗΡΟΦΟΡΙΕΣ</h2>
      </div>
      <hr>
      <div class="row info-item">
        <h2 style="font-weight:bold;">{{user.username}}</h2>
      </div>

      <div class="row info-item">
        <h3>
          <p>
            {{user.name}}
          </p>
        </h3>
      </div>
      <div class="row info-item">
        <h3>
          <p>
            {{user.surname}}
          </p>
        </h3>
      </div>
      <div class="row info-item">
        <h3>
          <p>
            {{user.email}}
          </p>
        </h3>
      </div>
      <div class="row info-item">
        <h3>
          <p>
            {{user.registered_at}}
          </p>
        </h3>
      </div>
    </div>

    <hr>


    <div class="container username">
      <h2>ΣΤΑΤΙΣΤΙΚΑ</h2>
    </div>
    <hr>
    <div class="container">
      <h3>ΓΕΝΙΚΗ ΔΙΑΓΝΩΣΗ</h3>
      <p>Διάγνωση: {{stats.diagnosis}}</p>
      <p *ngIf="count>'0'">Προσπάθειες για καθαρισμό της διάγνωσης: {{stats.count}}</p>
      <hr>
    </div>
    <div class="container">
      <table class="center">
        <tr>
          <td>

          </td>
          <td>
            <h3>ΣΩΣΤΕΣ</h3>
          </td>
          <td>
            <h3> ΛΑΘΟΣ</h3>
          </td>
        </tr>
        <tr>
          <td>
            <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.general_questions_answered}} ΕΡΩΤΗΣΕΙΣ </h3>
          </td>
          <td>
            {{stats.general_answered_right}}
          </td>
          <td>
            {{stats.general_questions_answered - stats.general_answered_right}}
          </td>
        </tr>
        <tr>
          <td>
            <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.addition_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΡΟΣΘΕΣΗΣ </h3>
          </td>
          <td>
            {{stats.addition_answered_right}}
          </td>
          <td>
            {{stats.addition_questions_answered - stats.addition_answered_right}}
          </td>
        </tr>
        <tr>
          <td>
            <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.substraction_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΑΦΑΙΡΕΣΗΣ </h3>
          </td>
          <td>
            {{stats.substraction_answered_right}}
          </td>
          <td>
            {{stats.substraction_questions_answered - stats.substraction_answered_right}}
          </td>
        </tr>
        <tr>
          <td>
            <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.multiplication_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΠΟΛΛΑΠΛΑΣΙΑΣΜΟΥ </h3>
          </td>
          <td>
            {{stats.multiplication_answered_right}}
          </td>
          <td>
            {{stats.multiplication_questions_answered - stats.multiplication_answered_right}}
          </td>
        </tr>
        <tr>
          <td>
            <h3>ΑΠΑΝΤΗΘΗΚΑΝ ΣΥΝΟΛΙΚΑ {{stats.division_questions_answered}} ΕΡΩΤΗΣΕΙΣ ΔΙΑΙΡΕΣΗΣ </h3>
          </td>
          <td>
            {{stats.division_answered_right}}
          </td>
          <td>
            {{stats.division_questions_answered - stats.division_answered_right}}
          </td>
        </tr>

      </table>
    </div>

  </div>

</div>
