<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a routerLink="/home" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a routerLink="/register" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form [formGroup]="loginForm" class="display:block;">
                <div class="error-message" *ngIf="!success">
                  {{message}}
                </div>
                <div class="form-group">

                  <input [(ngModel)]="username" [class.invalid]="!loginForm.controls.username.valid && loginForm.controls.username.dirty "
                    formControlName="username" type="text" class="form-control" placeholder="Username" />
                </div>



                <div class="form-group">

                  <input [(ngModel)]="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty "
                    formControlName="password" type="password" class="form-control" placeholder="Password" />
                </div>



              </form>
              <div>
                <button class="form-control btn btn-register" (click)="login()" [disabled]="!loginForm.valid">Log-In</button>
              </div>
              <br>
              <div>
                <button class="form-control btn btn-login" (click)="visitorLogin()">ΕΙΣΟΔΟΣ ΣΑΝ ΕΠΙΣΚΕΠΤΗΣ</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
