<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/theory">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΤΡΟΠΟΠΟΙΗΣΗ ΥΛΙΚΟΥ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#theory">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <form>
      <div id="contact-form" class="form-container" data-form-container style="color: rgb(46, 125, 50); background: rgb(200, 230, 201);">
        <div class="row">
          <div class="form-title">
            <span> ΤΡΟΠΟΠΟΙΗΣΗ </span>
          </div>
        </div>
        <div class="input-container">
          <div class="row">
            <span class="req-input valid">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your post title."> </span>
            <input [(ngModel)]="title" name="title" type="text" data-min-length="8" placeholder="Τίτλος">
            </span>
          </div>

          <div class="row">
            <span class="req-input message-box valid">
				<span class="input-status" data-toggle="tooltip" data-placement="top" title="Περιεχόμενο"> </span>
            <textarea [(ngModel)]="description" name="description" type="textarea" data-min-length="10" placeholder="Γράψ'τε κάτι εδώ..."> </textarea>
            </span>
          </div>
          <div class="row submit-row">
            <button (click)="editContent()" type="button" class="btn btn-block submit-form valid">ΤΡΟΠΟΠΟΙΗΣΗ</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
