<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/theory">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΠΟΛΛΑΠΛΑΣΙΑΣΜΟΣ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#theory-example">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div *ngFor="let d of data" class="row theory-item">
      <div class="col-lg-10 col-md-10 col-sm-10 col">
        <h1 [innerHTML]="d.title"></h1>
        <p [innerHTML]="d.description"></p>
      </div>
      <div *ngIf="(user_id=='admin')" class="col-lg-2 col-md-2 col-sm-2 col">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <button (click)="editContent(d)" class="edit-buttons"><img src="../../../assets/edit.ico"></button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <button (click)="deleteContent(d)" class="edit-buttons"><img src="../../../assets/delete.png"></button>
        </div>
      </div>
      <hr>
    </div>
    <div *ngIf="user_id=='admin'" class="row center">
      <button type="button" class="btn btn-primary btn-lg" (click)="addContent()">Προσθήκη νέου υλικού</button>
    </div>
    <hr>
    <div *ngIf="user_id" class="row center">

      <button [disabled]="voted||(user_id=='admin')" (click)="rateUp()" class="reaction-button"><img src="../../../assets/happy.png" ><br>Το κατάλαβα!<br>({{ratings.up}})</button>
      <button [disabled]="voted||(user_id=='admin')" (click)="rateDown()" class="reaction-button"> <img src="../../../assets/sad.png" ><br>Δεν το καταλαβα! <br>({{ratings.down}})</button>
    </div>
  </div>


</div>
