<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">

      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>MENU</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#menu">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/theory">
          <img src="../../../assets/theory.png" class="img-responsive round">
          <p class="menu-title">ΘΕΩΡΙΑ</p>
        </a>
      </div>
      <div *ngIf="user_id" class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/exercises">
          <img src="../../../assets/exercise.png" class="img-responsive round">
          <p class="menu-title">ΑΣΚΗΣΕΙΣ</p>
        </a>
      </div>
      <!--</div>-->
      <!--<div class="row">-->
      <div *ngIf="user_id" class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/wall">
          <img src="../../../assets/chat.svg" class="img-responsive round">
          <p class="menu-title">ΤΟΙΧΟΣ</p>
        </a>
      </div>
      <div *ngIf="!(user_id=='admin')&&user_id" class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/me">
          <img src="../../../assets/user.ico" class="img-responsive round">
          <p class="menu-title">ΠΡΟΦΙΛ</p>
        </a>
      </div>
      <div *ngIf="(user_id=='admin')&&user_id" class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/statistics">
          <img src="../../../assets/statistics.svg" class="img-responsive round">
          <p class="menu-title">ΣΤΑΤΙΣΤΙΚΑ</p>
        </a>
      </div>
      <!--</div>-->
      <!--<div class="row">-->
      <div class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/search">
          <img src="../../../assets/search.png" class="img-responsive round">
          <p class="menu-title">ΑΝΑΖΗΤΗΣΗ</p>
        </a>
      </div>
      <div *ngIf="user_id" class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/logout">
          <img src="../../../assets/logout.png" class="img-responsive round">
          <p class="menu-title">ΑΠΟΣΥΝΔΕΣΗ</p>
        </a>
      </div>
      <div *ngIf="!user_id" class="menu-button col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a routerLink="/home">
          <img src="../../../assets/login.png" class="img-responsive round">
          <p class="menu-title">ΕΙΣΟΔΟΣ/ΕΓΓΡΑΦΗ</p>
        </a>
      </div>
    </div>
  </div>

</div>
