<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/exercises">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΤΕΣΤ ({{category}})</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#exercises-example">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row center" *ngIf="noresults">
      <h2>ΚΑΝΕΝΑ ΑΠΟΤΕΛΕΣΜΑ</h2>
      <hr>
    </div>
    <div class="row center" *ngIf="(!clicked)&&(!noresults)&&(!finished)&&!(user_id=='admin')">
      <button (click)="easyClicked('easy')" class="easy-button">Εύκολο</button>
      <button (click)="easyClicked('difficult')" class="easy-button">Δύσκολο</button>
      <hr>
    </div>

    <!--  FOR STUDENTS EASY -->
    <div class="container center" *ngIf="easy&&(!finished)&&!(user_id=='admin')">

      <h2>ΕΥΚΟΛΑ</h2>
      <hr>
      <div *ngFor="let ex of exercises" [hidden]="!(ex.index==counter)" class="row">
        <h3> ΕΡΩΤΗΣΗ {{ex.index+1}}/{{total}} </h3><br>
        <div *ngIf="category=='general'">
          <h3> ΚΑΤΗΓΟΡΙΑΣ: {{ex.category}} </h3>
          <hr>
        </div>
        <table *ngIf="category=='addition'||(category=='general'&&ex.category=='πρόσθεση')">
          <tr>
            <td></td>
            <td>
              <h2>{{ex.op1}}</h2>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <h2>{{ex.op2}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{ex.operator}}</h2>
            </td>
            <td>
              <h2>{{ex.op3}}</h2>
            </td>
          </tr>
        </table>
        <table *ngIf="ex.category!='πρόσθεση'">
          <tr>
            <td></td>
            <td>
              <h2>{{ex.op1}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{ex.operator}}</h2>
            </td>
            <td>
              <h2>{{ex.op2}}</h2>
            </td>
          </tr>
          <!--<tr>
            <td>

            </td>
            <td>
              <h2>{{ex.op3}}</h2>
            </td>
          </tr>-->
        </table>

        <h3> ΑΠΑΝΤΗΣΗ: <input type="number" [(ngModel)]="answer" /> </h3>
        <br><br>
        <span class="answer-message">
          <h3>{{message}}</h3>
        </span>
        <br>
        <button [hidden]="answeredButton" [disabled]="answer==''" (click)="answered(ex)" class="easy-button">ΣΤΕΙΛΕ ΤΗΝ ΑΠΑΝΤΗΣΗ</button>
        <button [hidden]="!answeredButton" (click)="next(ex.index)" class="easy-button">ΕΠΟΜΕΝΟ</button>
      </div>
    </div>

    <!-- FOR STUDENTS DIFFICULT -->
    <div class="container center" *ngIf="difficult&&(!finished)&&!(user_id=='admin')">

      <h2>ΔΥΣΚΟΛΑ</h2>

      <hr>

      <div *ngFor="let ex of exercises" [hidden]="!(ex.index==counter)" class="row">
        <h3> ΕΡΩΤΗΣΗ {{ex.index+1}}/{{total}} </h3><br>
        <div *ngIf="category=='general'">
          <h3> ΚΑΤΗΓΟΡΙΑΣ: {{ex.category}} </h3>
          <hr>
        </div>
        <table *ngIf="category=='addition'||(category=='general'&&ex.category=='πρόσθεση')">
          <tr>
            <td></td>
            <td>
              <h2>{{ex.op1}}</h2>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <h2>{{ex.op2}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{ex.operator}}</h2>
            </td>
            <td>
              <h2><input type="number" [(ngModel)]="answer" /></h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>=</h2>
            </td>
            <td>
              <h2>{{ex.result}}</h2>
            </td>
          </tr>
        </table>
        <table *ngIf="ex.category!='πρόσθεση'">
          <tr>
            <td></td>
            <td>
              <h2>{{ex.op1}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{ex.operator}}</h2>
            </td>
            <td>
              <h2><input type="number" [(ngModel)]="answer" /></h2>
            </td>
          </tr>
          <!--<tr>
            <td>

            </td>
            <td>

            </td>
          </tr>-->
          <tr>
            <td>
              <h2>=</h2>
            </td>
            <td>
              <h2>{{ex.result}}</h2>
            </td>
          </tr>
        </table>

        <!--<h2> {{ex.op1}}{{ex.operator}}{{ex.op2}}{{ex.operator}}{{ex.op3}} = </h2>-->


        <br><br>
        <span class="answer-message">
          <h3>{{message}}</h3>
        </span>
        <br>
        <button [hidden]="answeredButton" [disabled]="answer.toString()==''" (click)="answeredB(ex)" class="easy-button">ΣΤΕΙΛΕ ΤΗΝ ΑΠΑΝΤΗΣΗ</button>
        <button [hidden]="!answeredButton" (click)="next(ex.index)" class="easy-button">ΕΠΟΜΕΝΟ</button>
      </div>
    </div>

    <!--  FOR ADMIN  -->
    <div class="container center" *ngIf="(user_id=='admin')">

      <h2>ΑΣΚΗΣΕΙΣ</h2>
      <hr>

      <div *ngFor="let ex of exercises" class="row theory-item">
        <!-- EXERCISES DIV  5/6 OF SCREEN -->
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <table *ngIf="category=='addition'">
            <tr>
              <td></td>
              <td>
                <h2>{{ex.op1}}</h2>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <h2>{{ex.op2}}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>{{ex.operator}}</h2>
              </td>
              <td>
                <h2>{{ex.op3}}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>=</h2>
              </td>
              <td>
                <h2>{{ex.result}}</h2>
              </td>
            </tr>
          </table>
          <table *ngIf="category!='addition'">
            <tr>
              <td></td>
              <td>
                <h2>{{ex.op1}}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>{{ex.operator}}</h2>
              </td>
              <td>
                <h2>{{ex.op2}}</h2>
              </td>
            </tr>
            <!--<tr>
              <td>

              </td>
              <td>
                <h2>{{ex.op3}}</h2>
              </td>
            </tr>-->
            <tr>
              <td>
                <h2>=</h2>
              </td>
              <td>
                <h2>{{ex.result}}</h2>
              </td>
            </tr>
          </table>
          <hr>
        </div>

        <!-- EDIT DIV 1/6 OF SCREEN -->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <button (click)="deleteExercise(ex._id)" class="edit-buttons"><img src="../../../assets/delete.png"></button>
        </div>
      </div>
      <br>

      <div *ngIf="user_id=='admin'" class="row center">
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/exercises/add',category]">Προσθήκη νέας άσκησης</button>
      </div>
      <hr>
    </div>

    <!-- ANSWERS -->
    <div class="row center" *ngIf="finished">
      <h2>ΑΠΑΝΤΗΣΕΙΣ</h2>
      <hr>
      <h3>ΑΠΑΝΤΗΣΕΣ ΣΩΣΤΑ ΣΤΙΣ {{rights}} ΑΠΟ ΤΙΣ {{total}} ΕΡΩΤΗΣΕΙΣ</h3>
      <div class="row center theory-item" *ngFor="let answer of answers">

        <table *ngIf="category=='addition'">
          <tr>
            <td></td>
            <td>
              <h2>{{answer.op1}}</h2>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <h2>{{answer.op2}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{answer.operator}}</h2>
            </td>
            <td>
              <h2>{{answer.op3}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>=</h2>
            </td>
            <td>
              <h2>{{answer.result}}</h2>
            </td>
          </tr>
        </table>
        <table *ngIf="category!='addition'">
          <tr>
            <td></td>
            <td>
              <h2>{{answer.op1}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{answer.operator}}</h2>
            </td>
            <td>
              <h2>{{answer.op2}}</h2>
            </td>
          </tr>
          <!--<tr>
            <td>
            </td>
            <td>
              <h2>{{answer.op3}}</h2>
            </td>
          </tr>-->
          <tr>
            <td>
              <h2>=</h2>
            </td>
            <td>
              <h2>{{answer.result}}</h2>
            </td>
          </tr>
        </table>
        <h3>ΑΠΑΝΤΗΣΕΣ: {{answer.success}}</h3>
        <br>

        <span *ngIf="answer.success=='ΛΑΘΟΣ'">
          <h3>Η ΑΠΑΝΤΗΣΗ ΣΟΥ: {{answer.ans}}</h3>
          <h3>ΔΙΑΓΝΩΣΗ: {{answer.diagnosis}}</h3>
        </span>
        <span *ngIf="answer.success=='ΛΑΘΟΣ'&&answer.diagnosis=='αδιάβαστος/η'&&answer.category=='πρόσθεση'">
          <h3>Πήγαινε στην θεωρία: <a routerLink="/theory/addition">{{answer.category}}</a></h3>
        </span>
        <span *ngIf="answer.success=='ΛΑΘΟΣ'&&answer.diagnosis=='αδιάβαστος/η'&&answer.category=='αφαίρεση'">
          <h3>Πήγαινε στην θεωρία: <a routerLink="/theory/substraction">{{answer.category}}</a></h3>
        </span>
        <span *ngIf="answer.success=='ΛΑΘΟΣ'&&answer.diagnosis=='αδιάβαστος/η'&&answer.category=='διαίρεση'">
          <h3>Πήγαινε στην θεωρία: <a routerLink="/theory/division">{{answer.category}}</a></h3>
        </span>
        <span *ngIf="answer.success=='ΛΑΘΟΣ'&&answer.diagnosis=='αδιάβαστος/η'&&answer.category=='πολλαπλασιασμός'">
          <h3>Πήγαινε στην θεωρία: <a routerLink="/theory/multiplication">{{answer.category}}</a></h3>
        </span>

        <hr>
      </div>

    </div>





  </div>
