<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/start">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΑΝΑΖΗΤΗΣΗ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#search">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group" id="adv-search">
          <input [(ngModel)]="searchInput" name="searchInput" type="text" class="form-control" placeholder="Αναζήτηση για χρήστες"
          />
          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <div class="dropdown dropdown-lg">
                <button (click)="dropdown()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div *ngIf="showDropDown" class="dropdown-menu dropdown-menu-right" role="menu">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="filter">Φίλτρο</label>
                      <select [(ngModel)]="filter" name="filter" class="form-control">
                                        <option id="0" name="0" [value]="0" selected>Όλοι οι χρήστες</option>
                                        <option id="1" name="1" [value]="1">Κορίτσια</option>
                                        <option id="2" name="2" [value]="2">Αγόρια</option>
                                    </select>
                    </div>
                    <div class="form-group">
                      <label for="contain">Όνομα ή username</label>
                      <input class="form-control" type="text" [(ngModel)]="searchInput" name="searchInput" />
                    </div>
                    <button (click)="search()" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </form>
                </div>
              </div>
              <button (click)="search()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="searched" class="container center">
      <h3>ΑΝΑΖΗΤΗΣΗ: {{searchInput}}<br> ΦΙΛΤΡΟ: {{filter_name}}</h3>
      <div *ngFor="let result of results" class="row search-item">

        <h3><a [routerLink]="['/profile',result.username]">{{result.username}}</a></h3>

      </div>
    </div>
    <div *ngIf="message" class="container center">
      <div class="row">
        <h2>{{messageString}}</h2>
      </div>

    </div>
  </div>
</div>
