<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/start">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΤΟΙΧΟΣ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#wall">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div #scrollMe id="wall">
      <div *ngFor="let d of data" class="row wall-post">
        <div class="col ">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 center post-username">
            <p [innerHTML]="d.username"></p>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 center post">
            <p [innerHTML]="d.post"></p>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <div id="add">
      <form>
        <div id="contact-form" class="form-container" data-form-container style="color: #004d4d; background: #00b3b3;">
          <div class="row">
            <div class="form-title">
              <span> ΠΡΟΣΘΗΚΗ </span>
            </div>
          </div>
          <div class="input-container">
            <div class="row">
              <span class="req-input message-box valid">
				      <span class="input-status" data-toggle="tooltip" data-placement="top" title="Περιεχόμενο"> </span>
              <textarea [(ngModel)]="post" name="post" type="textarea" data-min-length="10" placeholder="Γράψ'τε κάτι εδώ..."> </textarea>
              </span>
            </div>
            <div class="row submit-row">
              <button (click)="addPost()" type="button" class="btn btn-block submit-form valid">ΠΡΟΣΘΗΚΗ</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div>
    </div>
