.wall-post {
    color: white;
    border: solid white;
}

.post {
    background-color: #00b3b3;
    padding-top: 5px;
}

.post-username {
    background-color: #004d4d;
    padding-top: 5px;
}

#post {
    top: 40%;
    height: 40%;
    width: 100%;
    position: fixed;
    overflow: auto;
}

#wall {
    height: 40%;
    width: 100%;
    overflow: scroll;
}

.container {
    height: 100%;
    weight: 100%;
}