<div class="container">
  <div class="nav center">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a routerLink="/theory">
          <img src="../../../assets/back.png">
        </a>
        <a routerLink="/start">
          <img src="../../../assets/home.png">
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col">
        <h1>ΠΡΟΣΘΗΚΗ ΝΕΑΣ ΑΣΚΗΣΗΣ</h1>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col">
        <a href="/help#exercises">
          <img src="../../../assets/help.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <form [formGroup]="slideOneForm" id="register-form" method="post" role="form" style="display: block;">

      <div class="row">
        Χρησιμοποιήστε τον τρίτο όρο μόνο εαν έχετε πρόσθεση.<br>
      </div>

      <div class="form-group">

        <input class="form-control" placeholder="Πρώτος Όρος" [(ngModel)]="op1" formControlName="op1" type="number" [class.invalid]="!slideOneForm.controls.op1.valid && (slideOneForm.controls.op1.dirty || submitAttempt)"
        />
      </div>

      <div class="form-group">

        <input class="form-control" placeholder="Δεύτερος Όρος" [(ngModel)]="op2" formControlName="op2" type="number" [class.invalid]="!slideOneForm.controls.op2.valid && (slideOneForm.controls.op2.dirty || submitAttempt)"
        />
      </div>
      <div class="form-group" [hidden]="category!='addition'">

        <input class="form-control" placeholder="Τρίτος Όρος (Προαιρετικά)" [(ngModel)]="op3" formControlName="op3" type="number"
          [class.invalid]="!slideOneForm.controls.op3.valid && (slideOneForm.controls.op3.dirty || submitAttempt)" />
      </div>

      <div class="form-group">

        <input class="form-control" placeholder="Αποτέλεσμα Πράξης" [(ngModel)]="result" formControlName="result" type="number" [class.invalid]="!slideOneForm.controls.result.valid && (slideOneForm.controls.result.dirty || submitAttempt)"
        />
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input (click)="addExercise()" [disabled]="!slideOneForm.valid" type="submit" name="register-submit" id="register-submit"
              tabindex="4" class="form-control" value="Αποθήκευση">
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
